---
layout: default
---

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/related">More Robotics at Cal</a>
                </li>
		<li>
                    <a href="/related/PiE">Pioneers in Engineering</a>
                </li>
             	<li>
			<a hreb="/related/VR">Virtual Reality at Berkeley</a>
		</li> 
		<li>
                    <a href="/related/micromouse">IEEE Micromouse</a>
                </li> 
                <li>
                    <a href="/related/learning">Robot Learning Lab</a>
                </li>                
                <li>
                    <a href="/related/automation">Automation Lab</a>
                </li>
                <li>
                    <a href="/related/BEST">BEST Lab</a>
                </li>
                <li>
                    <a href="/related/teleimmersion">Teleimmersion Lab</a>
                </li>
                <li>
                    <a href="/related/biomimetic">Biomimetic Millisystems Lab</a>
                </li>
                <li>
                    <a href="/related/poly-pedal">Poly-PEDAL Lab</a>
                </li>
                <li>
                    <a href="/related/MPC">Model Predictive Control Lab</a>
                </li>
                <li>
                    <a href="/related/kazerooni">Robotics & Human Eng. Lab</a>
                </li>
                <li>
                    <a href="/related/SWARM">Swarm Lab</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        {{ content }}

    </div>
